data/
**/artifacts/
**/optuna/
.venv/
__pycache__/
*.pyc
*.pyo
.env
serving/bin/
*.onnx
.DS_Store
*.egg-info/
dist/
.ruff_cache/
.idea/
/design/
grafana/data/
prometheus/data/
load/results/
load/k6/transaction_ids.json
router/vendor/
